<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarHospital(input.value);" type="text" class="form-control" placeholder="Buscar hospitales">

            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-warning text-center" role="alert">
            <h4 class="alert-heading">Cargando</h4>
            <!-- <br> -->
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor.</span>
        </div>
    </div>
</div>
<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div align="right">
                    <button class="btn btn-primary btn-small btn-rounded" style="    float: right;" (click)="crearHospital();">
                      <i class="fa fa-plus" ></i> Crear hospital
                    </button>
                </div>

                <h3 class="card-title"> Hospitales registrados ( <small>{{total}}</small> ) </h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                <img (click)="mostrarModal(hospital._id);" class="w50 img-circle pointer" [src]="hospital.img | imagen:'hospital'" alt="">
                            </td>
                            <td>
                                <input class="form-control" [(ngModel)]="hospital.nombre" name="nombre" [value]="hospital.nombre" type="text">
                            </td>


                            <td>
                                <button class="btn btn-primary" (click)="guardarHospital(hospital);">
                                <i class="fa fa-save" ></i>
                              </button>
                                <button class="btn btn-danger" (click)="borrarHospital(hospital);">
                                <i class="fa fa-trash-o" ></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button *ngIf="desde >= 5" (click)="cambiarDesde(-5);" class="btn btn-secondary">
                Anterior
              </button>
                <button *ngIf="total > 5 && (desde+5) < total" (click)="cambiarDesde(5);" class="btn btn-secondary">
                  Siguiente
                </button>
            </div>
        </div>
    </div>
</div>